
<body style="line-height: 1rem;
            font-size: 1rem;
            font-weight: 500;
            font-family: 'Quicksand', sans-serif;
            display: block; 
            width: auto;
            box-sizing: border-box;
            background-color: transparent">
  <div style="width: min(100%, 35rem);
              display: block;
              gap:1rem;
              padding: 4rem;
              border-radius: 1rem;
              border: rgb(215, 215, 215) 1px solid;
              box-sizing: border-box;">

    <table align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td style="vertical-align: middle;">
          <img 
            alt="kita-logo"
            width="32px"
            height="32px"
            src="https://res.cloudinary.com/dqztsogsu/image/upload/v1782315995/Kita_juwpa0.ico">
        </td>

        <td style="vertical-align: middle; padding-left: 0.5rem;">
          <h2 style="
            margin:0;
            font-size: 2rem;
            font-family:'Afacad',sans-serif;">
            KITA
          </h2>
        </td>
      </tr>
    </table>

    <h1 style="width: 100%;
              text-align: center;
              padding: 0rem;
              margin: 0px;
              margin-top: 1rem;
              line-height: 2.5rem;
              font-size: 2.5rem;
              font-weight: normal;
              word-wrap: break-word;
              font-family: 'Afacad', sans-serif;">
      Reset Your Password
    </h1>

    <div style="display: block;
                padding: 1rem 1rem 0rem 1rem;">
      <p style="margin: 0.1rem; line-height: 2rem; width: 100%; text-align: center;">We've received your request to reset your password.</p>
      <p style="margin: 0.1rem; line-height: 2rem; width: 100%; text-align: center;">You can reset your password by clicking the button below.</p>
      
      <p style="margin: 1.5rem 0rem; line-height: 2rem; width: 100%; text-align: center;">
        <a href="{{resetURL}}" 
        style="text-decoration: none; 
          color: white; 
          padding: 0.7rem; 
          background-image: linear-gradient(to right, #29C474, #C4AE29); 
          border-radius: 0.2rem;">
          <strong>Verify Email</strong></a>
      </p>

      <p style="margin: 0.1rem; line-height: 2rem; width: 100%; text-align: center;">If you didn't request a password reset, simply ignore this email.</p>
    </div>
  </div>
</body> 
